/* keyframe para el fadein al abrir la pagina*/
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInSlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.frase1 {
    opacity: 0; /* Inicialmente invisible */
    animation: fadein 1.2s ease-in forwards;
    animation-delay: 1.2s; /* Retraso de 2 segundos antes de comenzar la animación */
}
.frase1 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura del contenedor igual a la altura de la ventana del navegador */
    margin: 0; /* Elimina márgenes por defecto */


}

/*---------------------------------------------------o--------------------------------------------------*/


/*---------------------------------------------------o--------------------------------------------------*/
/* Clase inicial para los elementos que deben animarse */
.fade-in-on-scroll {
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Oculto inicialmente */
    transition: opacity 0.6s ease-out, visibility 0.6s ease-out; /* Transición suave */
}

/* Clase añadida cuando el elemento está en vista */
.fade-in {
    opacity: 1;
    visibility: visible; /* Se hace visible */
    animation: fadeIn 1s ease-out forwards; /* Ajusta la duración y el timing */
}

/* Clase añadida para la nueva animación */
.fade-in-slow {
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 3s ease-out forwards; /* Duración de la animación */
    animation-delay: 4s; /* Retraso antes de que comience la animación */
}    
/*---------------------------------------------------o--------------------------------------------------*/
          
.saltobendi {
    padding-bottom: 40px;


}

.padres {
    padding-bottom: 40px;
}


.saltonosotros{
    padding-bottom: 2px;
}


/*---------------------------------------------------o--------------------------------------------------*/
.novios {
    padding-bottom: 30px;
}

     

/*---------------------------------------------------o--------------------------------------------------*/
.nuestraboda{
   padding-bottom: 18px;
}

.presencia {
    padding-bottom: 40px;
}

.fecha {

}

.lugar {

}

.dress {

}

.frase2 {

}

.regalo {

}

.regalo {

}

.invitados {

}

.itinerario {

}

.confirm {

}