/* keyframe para el fadein al abrir la pagina*/
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInSlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: 'Fuente 1';
    src: url('fonts/GreatVibes.ttf') format('ttf'); /* Cambia la ruta y el formato según tu archivo */
    font-weight: normal;
    font-style: normal;
}

.frase1 {
    opacity: 0; /* Inicialmente invisible */
    animation: fadein 1.2s ease-in forwards;
    animation-delay: 1.2s; /* Retraso de 2 segundos antes de comenzar la animación */
}
.frase1 {
    
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura del contenedor igual a la altura de la ventana del navegador */
    margin: 0; /* Elimina márgenes por defecto */


}

/*---------------------------------------------------o--------------------------------------------------*/


/*---------------------------------------------------o--------------------------------------------------*/
/* Clase inicial para los elementos que deben animarse */
.fade-in-on-scroll {
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Oculto inicialmente */
    transition: opacity 0.6s ease-out, visibility 0.6s ease-out; /* Transición suave */
}

/* Clase añadida cuando el elemento está en vista */
.fade-in {
    opacity: 1;
    visibility: visible; /* Se hace visible */
    animation: fadeIn 1s ease-out forwards; /* Ajusta la duración y el timing */
}

/* Clase añadida para la nueva animación */
.fade-in-slow {
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 3s ease-out forwards; /* Duración de la animación */
    animation-delay: 4s; /* Retraso antes de que comience la animación */
}    
/*---------------------------------------------------o--------------------------------------------------*/
          
.saltobendi {
    padding-bottom: 40px;


}

.padres {
    padding-bottom: 40px;
}


.saltonosotros{
    padding-bottom: 2px;
}


/*---------------------------------------------------o--------------------------------------------------*/
.novios {
    padding-bottom: 0px;
}

.nuestraboda{
    padding-bottom: 40px;
}

/*---------------------------------------------------o--------------------------------------------------*/
.nuestraboda{
   padding-bottom: 18px;
}

.presencia {
    padding-bottom: 80px;
    
}

.fecha {
    padding-top: 60px;
    padding-bottom: 80px;
}

.lugar {

}

.dress {
    padding-top: 110px;    
}

.semiformal{
    padding-top: 0px;
}

.dress{
    padding-top: 0px;
   
}

.camisa{
    padding-right: 0px;
    
}

.frase2{
    padding-bottom: 70px;
}

.ropa{
    padding-top: 28px;
    width: 75px;
}

.invitados {
    padding-bottom: 100px;

}

.regalo {
    padding-bottom: 80px;
}

.confirm {
    padding-top: 100px;
}

/* Estilos generales para el contenedor */
.timeline-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Línea vertical en el centro */
.timeline-container::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    border-radius: 40px;
    transform: translateX(-50%);
}

/* Estilos para cada bloque de la línea de tiempo */
.timeline-item {
    position: relative;
    width: 50%;
    padding: 10px 40px;
    box-sizing: border-box;
    margin-bottom: -60px; /* Reduce este valor para acercar los elementos */
}

/* Posiciona los elementos a la izquierda y derecha de la línea */
.timeline-item.left {
    left: 0;
    text-align: right;
    top: -10px; /* Ajusta este valor para acercar más los elementos */
}

.timeline-item.right {
    left: 50%;
    top: -10px; /* Ajusta este valor para acercar más los elementos */
}

/* Contenido de cada elemento */
.timeline-content {
    position: relative;
    padding: 15px;
    border-radius: 6px;
    background-color: transparent; /* Sin fondo */
}

/* Imagen pequeña sobre la hora */
.timeline-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* Estilos para la hora */
.timeline-time {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para la descripción del evento */
.timeline-description1 {
    font-size: 16px;
    padding-left: 0px;
    text-align: center;
}

.timeline-description2 {
    font-size: 16px;
}
/* Flechas que apuntan a la línea central */
.timeline-item.left .timeline-content::before {
    content: '';
    position: absolute;
    top: 15px;
    right: -15px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #851f1f;
}

.timeline-item.right .timeline-content::before {
    content: '';
    position: absolute;
    top: 15px;
    left: -15px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #851f1f transparent transparent;
}

.size-iz {
    padding-right: 6px;

}
.alinear {
    text-align: center;
}